.botao-square {
    background-color: red;
    padding: 30p;
}

.botao-btn {
    background-color: blue;
    color: white;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 20px;
}

.botao-legend {
    color: green;
}